.ForgotPassword-container {
    display: flex;
    height: 100vh;
}

.ForgotPassword-left {
    background-color: #A6D785;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
}

.welcome p {
    font-family: 'Mallanna';
    font-weight: 400;
    font-size: 16px;
    margin-top: -30px;
    color: #999696;
   
}

.ForgotPassword-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.ForgotPassword-right p {
    font-family: 'Mallanna';
    font-weight: 400;
    font-size: 16px;

    color: #999696;
}

.ForgotPassword-text {
    display: block;
    text-align: center;
}

.ForgotPassword-link {
    text-decoration: none;
    color:#A6D785;
    font-weight: bold;
  }
  
  .ForgotPassword-link:hover {
    text-decoration: underline;
  }
  

h2 {
    font-size: 28px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.remember-me {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.ForgotPassword-button {
    background-color: #A6D785;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.ForgotPassword-button:hover {
    background-color: #8BBF63;
}